#gameBoard{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    margin: 0;
    width: fit-content;
    height: fit-content;
}
  .gameButton{
    margin: 0;
    padding: 0;
    display: inline-block;
    width:30dvh;
    height:30dvh;
    font-size: 15dvh;
  }
  #resetbtn{
    margin-top: 5dvh;
    margin-left: 5dvh;
    width: 50dvh;
    height: 20dvh;
    font-size: 8dvh;
  }
  #rigthSide{
    position: absolute;
    width: 40dvh;
    right: 10%;
    top: 0%;
  }

  #gameEnd{
    width: 100%;
    text-align: center;
    font-size: 20dvh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    margin: 0;
    color: red;
  }