#gameBoard{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    margin: 0;
    width: fit-content;
    height: fit-content;
}
  .gameButton{
    margin: 0;
    padding: 0;
    display: inline-block;
    width:30dvh;
    height:30dvh;
    font-size: 15dvh;
  }
  #resetbtn{
    margin-top: 5dvh;
    margin-left: 5dvh;
    width: 50dvh;
    height: 20dvh;
    font-size: 8dvh;
  }
  #rigthSide{
    position: absolute;
    margin: 5dvh;
    width: 30dvh;
    right: 10%;
    top: 0%;
  }